// screen-reader-only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;

    &::focus { 
      background-color: #eee;
      clip: auto !important;
      clip-path: none;
      color: #444;
      display: block; 
      font-size: 1em;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000; /* Above WP toolbar. */
    }
  }

//   .skip-to-content {
//     position: absolute;
//     z-index: 9999;
//     background: hsl( var(--clr-white) );
//     color: hsl( var(--clr-dark) );
//     padding: .5em 1em;
//     margin-inline: auto;
//     transform: translateY(-100%);
//     transition: transform 250ms ease-in;
// }

// .skip-to-content:focus {
//     transform: translateY(0);
// }